<div class="header">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-3">
      <h1><a routerLink="" class="title">Car Booking</a></h1>
    </div>
    <div class="col-md-3 form-group">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>



    <div class="col-md-3">

      <div class="" *ngIf="authService.isAuthenticated()">

        <a href="#" class="new-post">Welcome</a>

        <button class="logout btn btn-default" (click)="logout()">Logout</button>
      </div>
      <div class="" *ngIf="!authService.isAuthenticated()">
        <a routerLink="/sidebar/login" class="login btn btn-default">Login</a>
        <a routerLink="/sidebar/signup" class="register btn btn-default">Register</a>
      </div>
    </div>

    <div class="col-md-3">

      <div >
        <button class="login btn btn-default">Users</button>
      </div>

    </div>
  </div>

</div>
