.hed {
  background-size: auto;
}

.sider {
  /* background-color: rgb(233, 236, 240); */
  height: 600px;
  border-right: dodgerblue;
}
.mains {
  /* background-color: rgb(239, 243, 247); */
  height: 600px;
}

.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  cursor: pointer;
}
